<div class="card">
        <div class="col col-md-5 mt-5" style="margin-left: 26rem;"> 
                <form [formGroup]="contacto" class="form-group">
                        <label>Id</label>
                        <input type="number" formControlName="id" class="form-control" id="idN" required/>

                        <label>Id Usuario</label>
                        <input type="number" formControlName="user_id" class="form-control" id="user_id" required/>

                        <label>Titulo</label>
                        <input type="text" formControlName="title" class="form-control" id="title" required/>

                        <label>Fecha Registro</label>
                        <input type="date" formControlName="due_on" class="form-control" id="due_on" required/>

                        <label>Estado</label>
                        <select formControlName="status" class="form-control" id="status" aria-label="Estado" required>
                            <option value="pending">pending</option>
                            <option value="completed">completed</option>
                            <option value="error">error</option>
                        </select>
                        <button class="btn btn-outline-info" id="crea" (click)="crearTarea()">Crear</button>
                </form>
        </div>
</div>
<table class="table table-striped" id="tabTar">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha registro</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of tareas; index as i" class="todos">
            <td>{{ i }}</td>  
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.user_id }}</td>
            <td>{{ tarea.title }}</td>
            <td>{{ tarea.due_on }}</td>
            <td>{{ tarea.status }}</td>
            <td><button class="btn btn-danger" (click)="borrarTarea(tarea)">borrar</button></td>
        </tr>
    </tbody>
</table>